body{font-family: 'Roboto', sans-serif;}
.calendar-header{
	padding-top:55px;
	padding-bottom:20px;
	background-color:#f4f4f4;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(207,207,207,1);
	-moz-box-shadow: 0px 4px 5px 0px rgba(207,207,207,1);
	box-shadow: 0px 4px 5px 0px rgba(207,207,207,1);
}
.calendar-header .container{
	display:flex;
	justify-content: space-between;
}
.calendar-header__btn{position:relative}
.btn-calendar{
	outline:none;
	border:none;
	border-radius:3px;
	padding:8px 10px;
	margin-right:10px;
	background-color:#0271c7;
	color:#fff;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);
	box-shadow: 0px 2px 5px 0px rgba(207,207,207,1);
	cursor:pointer;
}
.btn-calendar:hover{
	background-color:#3d9feb;
}
.btn-calendar.active{
	background-color:#015da4;
	color:#c2d0e2;
	box-shadow:none;
}
.container{
	width:900px;
	margin:0 auto;
}
.calendar-header__search{
	position:relative;
	color:#d2d2d2;
}
.calendar-header__search i{
	position:absolute;
	top:8px;left:-19px;
	font-size:20px;
	font-style:normal;
	cursor:pointer;
}
.field{
	border:1px solid #d2d2d2;
	border-radius:3px;
	width:200px;
	margin-left:10px;
	padding:8px 10px;
	font-size:12px;
	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.4);
}
textarea.field{
	height:100px;
	margin-top:25px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #d2d2d2;
   } 
input::-moz-placeholder , textarea::-moz-placeholder{
    color: #d2d2d2;
   }
.form-inline{margin:15px 0;}
.btn-arrow{
	border:1px solid #ebebeb;
	border-radius:3px;
	display:inline-block;
	width:17px;
	height:17px;
	padding:0;
	margin-bottom: 5px;
	color:#676767;
	font-size:10px;
	background-color:transparent;
	text-align:center;
	cursor:pointer;
}
.card-header{
	margin:0 5px;
	font-size:15px;
}
.table{
	position:relative;
	border:1px solid #e2e2e2;
	margin-bottom:50px;
}
.table th{
	position:relative;
	border:1px solid #e2e2e2;
	width:128px;
	height:118px;
	padding:10px;
	color:#999999;
	font-size:11px;
	box-sizing:border-box;
	cursor:pointer;
}
.table th:hover{
	background-color:#e5f1f9;
}
.today{
	background-color:#f4f4f4;
	font-weight:bold;
}
.note{
	border:2px solid #8abfe9 !important;
	background-color:#c2e4fe;
	font-weight:bold;
}

#add-note{
	border:1px solid #ccc;
	position:absolute;
	top:47px;left:0;
	display:none;
	padding:25px 20px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	-moz-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	z-index:100;
}
#add-note__quick{
	border:1px solid #ccc;
	position:absolute;
	top:-20px;left:140px;
	padding:25px 20px;
	background-color:#fff;
	-webkit-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	-moz-box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	box-shadow: 0px 1px 5px 3px rgba(204,204,204,1);
	z-index:100;
}
#add-note:before{
	content:"";
	position:absolute;
	top:-20px;left:20px;
	border: 10px solid transparent;	
	border-bottom: 10px solid #fff;
}
#add-note__quick:before{
	content:"";
	position:absolute;
	top:25px;left:-20px;
	border: 10px solid transparent;	
	border-right: 10px solid #fff;
}
#add-note i, #add-note__quick i{
	position:absolute;
	top:5px;right:7px;
	font-size:15px;
	font-style:normal;
	cursor:pointer;
}
#add-note .field, #add-note__quick .field{
	margin-left:0;
	margin-bottom:10px;
}
#add-note__quick button{margin-right:10px;margin-top:10px}
@media (max-width: 927px) {
	.container{
		width:auto;
		padding:15px;
	}
	.table th{height:70px}
	#add-note__quick{
		position:fixed;
		top:50px;left:0;right:0;
		width:220px;
		margin:auto;
	}
}